.restaurant {
  background-color: rgb(230, 236, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo{
    height: 200px;
    
}

.category {
    font-size: 25px;
    margin-top: 30px;
}

.name {
    font-size: 35px;
    margin: 0;
    margin-bottom: 20px;
}

.address:link {
    text-decoration: none;
    color: black;
}

.yelp:link {
    text-decoration: none;
    color: black;
}

.address {
    margin-bottom: 20px;
    font-size: 20px;
}
.yelp {  
    /* margin-bottom: 40px; */
    font-size:20px;
}

.btn-group {
    display: flex;
    flex-direction: column;
}

.btn {
  height: 50px;
  background-color: #f36969e3;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

@media only screen and (min-width: 600px) {
    .btn:hover {
        color: #ffffff;
        background-color: #E23636;
    }
}

.renew:disabled{
    color:#ffffff;
    background-color:#888282e3;
}

